spring.application.name=
spring.jpa.hibernate.ddl-auto=

spring.jpa.show-sql=true
spring.jpa.properties.hibernate.format_sql=true

# Database Configuration
spring.datasource.url=
spring.datasource.username=
spring.datasource.password=
spring.datasource.driver-class-name=

# Redis Configuration
spring.data.redis.host=localhost
spring.data.redis.port=6380
spring.data.redis.password=
spring.data.redis.timeout=9999ms

jwt.secret=your secret
jwt.expiration=0000000

# OAuth2 Google Configuration
spring.security.oauth2.client.registration.google.client-id=
spring.security.oauth2.client.registration.google.client-secret=
spring.security.oauth2.client.registration.google.scope=
spring.security.oauth2.client.registration.google.redirect-uri=

# OAuth2 Provider Configuration
spring.security.oauth2.client.provider.google.authorization-uri=
spring.security.oauth2.client.provider.google.token-uri=
spring.security.oauth2.client.provider.google.user-info-uri=
spring.security.oauth2.client.provider.google.user-name-attribute=

# Mail Configuration
spring.mail.host=
spring.mail.port=
spring.mail.username=
spring.mail.password=
spring.mail.properties.mail.smtp.auth=true
spring.mail.properties.mail.smtp.starttls.enable=true